#whole-signupForm {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#whole-signupForm #signUpDiv {
  width: 50vw;
}

#whole-signupForm #signuoForm {
  margin-top: 5vw;
}

#whole-signupForm .sigForm {
  margin: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#whole-signupForm .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: flex-start;
}

#whole-signupForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#whole-signupForm h2 {
  color: #CC2D4A;
}

#whole-signupForm .inputText {
  width: 400px;
  height: 30px;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px;
}

#whole-signupForm .password-wrapper {
  position: relative;
  width: 400px;
}

#whole-signupForm .password-wrapper .inputText {
  padding-right: 40px; /* espacio para el ícono del ojo */
  border-radius: 20px; /* bordes redondeados */
  font-size: 14px; /* tamaño del texto */
}

#whole-signupForm .password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

#whole-signupForm #checkBoxLabel {
  font-size: 12px;
  color: black;
  height: 2vw;
}

#whole-signupForm #checkBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  margin-bottom: 0;
}

#whole-signupForm #termsPolicy {
  color: black;
  text-decoration: underline;
}

#whole-signupForm #botonRegistrarse {
  color: white;
  background-color: #8FA206;
  height: 35.02px;
  width: 404px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

#whole-signupForm #botonRegistrarse:hover {
  background-color: #819105;
}

#whole-signupForm .link-button {
  color: white;
  text-decoration: none;
}

#whole-signupForm #or {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#whole-signupForm .horizontal-line {
  flex-grow: 10;
  border: none;
  border-top: 2px solid #D9D9D9;
  margin: 0 10px;
  width: 100px;
}

#whole-signupForm .centered-span {
  margin-top: 4px;
  display: flex;
  justify-content: center;
  width: 100%;
}

#whole-signupForm #iSesion {
  color: #CC2D4A;
  text-decoration: none;
}

#whole-signupForm #iSesion:hover {
  text-decoration: underline;
}

#whole-signupForm #imagenRegistro {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos específicos para los inputs de contraseña */
#whole-signupForm .password-wrapper .inputText {
  height: 40px; /* Altura ligeramente mayor */
  border-radius: 8px; /* Bordes redondeados */
}

#whole-signupForm .error-message {
  color: red; /* Color rojo para mensajes de error */
  margin: 0;
}

#whole-signupForm .error-checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
  margin-left: 20px; /* Ajuste para separación izquierda */
}